@model WebAdminDatLichPhongKham.Models.CaKham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaKham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TGBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TGBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TGKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TGKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeSoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeSoLuong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
