@model IEnumerable<WebAdminDatLichPhongKham.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinhanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chucVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.khoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinhanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chucVu.Tenchucvu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.khoa.TenKhoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idNhanVien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idNhanVien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idNhanVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
